@using MPExtended.Services.Common.Interfaces
@model MPExtended.Services.TVAccessService.Interfaces.WebRecordingBasic
@{
    ViewBag.Title = Model.Title;
}

<div class="jumbotron" style="padding-top: 34px; padding-bottom: 34px;">
	<div title="@Model.Title - @Model.StartTime.ToShortDateString()" style="display:block;height: 400px;background-image: url(@Url.Action("RecordingPreview", "Television", new { id = Model.Id, width = 720 }));background-size:cover;background-position:center;max-width:720px;position:relative;margin-bottom: 20px;">
		<h1 style="position:absolute;bottom:0;padding: 20px;background: #333; background: rgba(0, 0, 0, .6);display:block;margin: 0;width:100%;color: whitesmoke;">@Model.Title</h1>
	</div>
	
	<div>
		<span class="label label-info">@Model.ChannelName</span>
	</div>
	
	<p>@Model.Description</p>
	<small><strong>@Model.StartTime</strong> to <strong>@Model.EndTime</strong></small>
	
	<div>
		<a class="btn btn-success btn-lg" href="/Television/WatchRecording/@Model.Id"><span class="glyphicon glyphicon-play"></span> Watch</a>
		<a class="btn btn-primary btn-lg" href="/Stream/Download?item=@Model.Id&type=Recording"><span class="glyphicon glyphicon-download"></span> Download (@ViewBag.Quality)</a>
	</div>
</div>