<!DOCTYPE html>
<html>
<head>
    <title>@(ViewBag.Title != null ? ViewBag.Title + " - " : "")WebMediaPortal</title>
    @Html.Assets().Render()
    @RenderSection("HeadHtml", false)
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <link type="image/png" href="@Url.ContentLink("Images/favicon.png")" rel="icon" />
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/Skins/WebStrap/Content/dist/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="/Skins/WebStrap/Content/dist/css/bootstrap-theme.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="/Skins/WebStrap/Content/dist/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="/Skins/WebStrap/Content/style.css">
</head>
<body>
    <div id="header" style="padding: 15px 15px 0 15px;">
		<div class="row" style="max-width: initial;margin-bottom: 10px;">
			<div class="col-md-6">
				<a href="@Url.Action("Index", "Home")">
					<img id='logo' src="@Url.ContentLink("Images/logo.png")" alt="Logo" />
				</a>
		
				<div id="logindisplay" style="height:30px;line-height:30px;margin-top:10px;">
				@if (ViewBag.Availability.Authentication)
				{
					@Html.Partial("_LogOnPartial")
				}
				</div>
			</div>
			<div class="col-md-6">
				<div id="search" class="form-group">
					@using (Html.BeginForm("Results", "Search", FormMethod.Get))
					{
						<input type="text" class="form-control" name="text" placeholder="@UIStrings.SearchFieldPlaceholder" onblur="this.form.submit();" />
					}
				</div>
			</div>
		</div>

        @{Html.RenderAction("Menu", "Site");}
    </div>
	
	<div style="padding:0 15px;">
		@RenderBody()
	</div>
</body>
</html>